html {
    font-size: 10px;
}


#navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.3em;
    font-family: arial, sans-serif
}


header li {
    padding: 5px;
}

header li a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

#icon {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
}


.google_logo {
    display: flex;
    padding-top: 110px;
    padding-bottom: 30px;
    margin: auto;
}

#search_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 44px;
    width: 576px;
    max-width: 584px;
    color: rgb(34, 34, 34);
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 0.8px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border-right-style: solid;
    border-right-width: 0.8px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 0.8px;
    border-right-color: rgb(223, 225, 229);
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
}

#search_icon {
    display: flex;
    max-width: 50%;
    max-height: 50%;
    padding-left: 10px;
    color: rgb(154, 160, 166);
    fill: rgb(154, 160, 166);
}

#buttons {
    display: flex;
    justify-content: center;
    padding-top: 18px;
   }

#button_1 {
    background-color: rgb(248, 249, 250);
    border-bottom-color: #f8f9fa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-left-color: #f8f9fa;
    border-left-style: solid;
    border-left-width: 0.8px;
    border-right-color: #f8f9fa;
    border-right-style: solid;
    border-right-width: 0.8px;
    border-top-color: #f8f9fa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0.8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
    color: rgb(32, 33, 36);
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    margin-bottom: 11px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 11px;
    min-width: 54px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    
    text-align: center;
}

#languages {
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-top: 10px;
    font-family: arial, sans-serif
}

.languages {
    padding: 0px 3px;
    color: #1a0dab;
    text-decoration: none;
}


footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgb(242, 242, 242);
    font-family: arial, sans-serif;
    color: #70757a;
}

#sp_footer {
    font-size: 15px;
    padding: 15px 30px;
    border-bottom-color: rgb(218, 220, 224);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    

}

#footer_links {
    display: flex;
    justify-content: space-between;
    
    font-size: 14px;
    padding: 15px 30px;
}

#links_foot {
    padding: 0px 7px;
    color: #70757a;
    text-decoration: none;
}
